#root {
  position: absolute;
  inset: 0;
  margin: 0;
  padding: 10px;
  text-align: center;
  font-family: Jura, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  --dark: #040D12;
  --mid-dark: #183D3D;
  --mid-light: #497766;
  --old-light: #50ac8a;
  --light: #68c897;
  --green-light: #499a61;
  --shadow10: rgba(70, 70, 70, .1);
  --shadow30: rgba(70, 70, 70, .3);
  --shadow70: rgba(70, 70, 70, .7);
  --shadow90: rgba(70, 70, 70, .9);
}

.porfolio {
  position: absolute;
  width: 95vw;
  height: 91vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--light);
  border: 1px solid var(--mid-light);
}

strong {
  font-weight: 700;
}

#bg-video {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: clip;
  z-index: -1;
  opacity: .2;
  filter: blur(30px);
}




.card {
  position: absolute;
  left: 50px;
  top: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  gap: 40px;
  height: 80px;
  width: 400px;
}

.card>h2 {
  font-family: Noto Sans, sans-serif;
  font-weight: 700;
  font-size: 3em;
  margin: 0;
  color: var(--green-light);
}

.card>img {
  width: 70px;
  padding: 3px;
  border-radius: 50%;
  border-bottom: 7px solid var(--mid-dark);
  background-image: linear-gradient(to top, rgba(99, 180, 220, .1), var(--mid-light));
  opacity: .7;
}


nav {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  position: absolute;
  left: 70px;
  top: 120px;
}

nav>a {
  color: var(--mid-light);
  text-decoration: none;
  transition: all .3s ease-in-out;
  font-size: 18px;
}

nav>a:hover {
  color: var(--light);
}

.active {
  letter-spacing: 9px;
  color: var(--light);
  text-shadow: 0 2px 7px var(--mid-light);
}



.info {
  position: absolute;
  margin-right: 2vw;
  display: flex;
  flex-direction: column;
}

.info>h3 {
  margin: 0;
  font-size: 30px;
}

.info>h3>strong {
  font-weight: 600;
}

.info>p {
  font-weight: 300;
  font-size: 21px;
}




.skills {
  position: absolute;
}

.skills-wrapper {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.skills-wrapper>div {
  position: relative;
  width: 50px;
}

.skills-wrapper>div>svg {
  width: 50px;
  height: 50px;
  filter: drop-shadow(0 3px 7px var(--mid-dark)) brightness(1);
  transition: all .4s ease-in-out;
  color: var(--green-light);
}

.skills-wrapper>div>svg:hover {
  filter: drop-shadow(0 10px 9px var(--mid-dark)) brightness(1.2);
  transform: translateY(-9px);
}

.skills-wrapper>div>svg:hover+span {
  opacity: 1;
}

.skills-wrapper>div>span {
  opacity: 0;
  position: absolute;
  left: -25px;
  top: 50px;
  width: 100px;
  font-size: 16px;
  text-align: center;
  color: var(--light);
  transition: all .4s ease-in-out;
}





.projects-wrapper {
  box-sizing: border-box;
  width: 50%;
  height: 90%;
  position: fixed;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  scrollbar-width: none;
}

.projects-wrapper::-webkit-scrollbar {
  display: none;
}

.fade-effect {
  position: absolute;
  content: '';
  width: 60%;
  height: 20%;
  z-index: 1;
}

.fade-start {
  top: 0;
  right: 0;
  background-image: linear-gradient(to bottom left, #181818, transparent 60%);
}

.fade-end {
  bottom: 0;
  right: 0;
  background-image: linear-gradient(to top left, #181818, transparent 60%);
}

.projects-wrapper>a {
  text-decoration: none;
  width: 90%;
}

.project-card {
  position: relative;
  box-sizing: inherit;
  width: 90%;
  padding: 20px;
  display: flex;
  flex-direction: row;
  transition: all .3s ease-in-out;
  border-radius: 7px;
  border-top: 1px solid transparent;
  color: var(--light);
  filter: brightness(.9);
}

.project-card:hover {
  background-color: var(--shadow10);
  box-shadow: 0 7px 30px 1px var(--dark);
  border-top: 1px solid var(--shadow30);
  filter: brightness(1.1);
}

.project-card:hover svg {
  animation: point .4s 2;
}

.project-card:hover img {
  opacity: 1;
  transform: scale(1);
}

.project-card>svg {
  position: absolute;
  height: 20px;
  width: 20px;
  right: 30px;
  top: 30px;
}

.project-card>img {
  opacity: .2;
  transform: scale(.7) translateX(3vw);
  transition: all .7s ease;
  margin: 10px 20px;
  width: 160px;
  height: 160px;
  object-fit: cover;
  border: 1px solid var(--shadow70);
  border-radius: 3px;
}

.project-info {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.project-info>h3 {
  width: 90%;
  font-size: 27px;
  font-weight: 500;
  margin: 0;
  text-align: left;
}

.project-info>p {
  width: 90%;
  text-align: left;
  font-size: 18px;
  color: var(--mid-light);
}

.project-info>div {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.project-info>div>span {
  background-color: var(--shadow30);
  padding: 3px 7px;
  border-radius: 3px;
}





.contact {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: end;
  gap: 10px;
}

.contact-icons {
  width: 10vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.contact-icons-send {
  font-size: 30px;
  text-decoration: none;
  color: var(--light);
  display: flex;
  place-items: center;
  transition: all .2s ease;
}

.contact-icons-copy {
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: all .2s ease;
}

.contact .email {
  font-size: 27px;
}

.contact-icons-copy:hover,
.contact-icons-send:hover {
  filter: drop-shadow(0 3px 7px var(--mid-light));
}

.contact-icons-copy:active {
  color: var(--mid-dark);
}

.clipboard-msg {
  position: absolute;
  right: 30px;
  bottom: 50px;
  opacity: 0;
  margin-bottom: 10px;
  margin-right: 20px;
  transition: all .5s ease-in-out;
  font-weight: 300;
  transform: translateY(40px);
  background-color: var(--shadow10);
  border-radius: 3px;
  padding: 7px 12px;
}

.show {
  opacity: 1;
  transform: translateY(0);
}

.visible {
  animation: appear .7s forwards ease-in;
}

.invisible {
  animation: fade .5s forwards ease-in;
}




@media (min-width: 1024px) {
  .info {
    right: 30px;
    bottom: 30px;
    text-align: right;
  }

  .skills {
    right: 50px;
    bottom: 50px;
  }

  .projects-wrapper {
    right: 70px;
    padding-top: 7%;
    padding-bottom: 7%;
  }

  .contact {
    right: 40px;
    bottom: 40px;
  }
}

@media (max-width: 1024px) {

  .porfolio {
    width: 92vw;
    height: 95dvh;
  }

  .card {
    width: 100%;
    left: 0;
    top: 25px;
    justify-content: space-evenly;
    align-items: start;
  }

  .card>img {
    width: 45px;
  }

  .card>h2 {
    font-size: 34px;
  }

  nav {
    width: 100%;
    top: 100px;
    left: 0;
    flex-direction: row;
    justify-content: space-evenly;
  }

  nav>a {
    border-top: 1px solid transparent;
    font-size: 16px;
    user-select: none;
  }

  .active {
    letter-spacing: initial;
    color: var(--light);
    text-shadow: 0 2px 7px var(--mid-light);
    transform: translateY(7px);
    border-color: inherit;
  }

  .info {
    bottom: 20px;
    width: 90%;
  }

  .info>h3 {
    font-size: 27px;
    user-select: none;
  }

  .info>p {
    font-size: 21px;
    user-select: none;
    padding: 7px;
  }

  .info>span {
    font-size: 14px;
    user-select: none;
  }

  .info-icon-field {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
  }



  .skills {
    bottom: 20px;
  }

  .skills-wrapper {
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: center;
    padding: 10vw;
  }

  .contact {
    bottom: 50px;
    flex-direction: column-reverse;
    align-items: center;
    gap: 20px;
  }

  .contact-icons {
    width: 70%;
    justify-content: space-around;
  }


  .projects-wrapper {
    flex-direction: row;
    width: 91vw;
    height: 70%;
    top: 180px;
    padding-left: 18vw;
    gap: 70px;
    animation: slide-in 1s ease 1;
  }

  .active-project {
    background-color: var(--shadow10);
    box-shadow: 0 7px 30px 1px var(--dark);
    border-top: 1px solid var(--shadow30);
    filter: brightness(1.1);
  }

  .active-project>img {
    transform: scale(1);
  }

  .project-collider {
    height: 70vh;
    width: 60vw;
    border: 1px solid rebeccapurple;
  }

  .project-card {
    width: 90%;
    height: 50vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: all .7s ease;
  }

  .project-card>svg {
    visibility: hidden;
  }

  .project-card>img {
    opacity: 1;
  }

  .project-info>h3 {
    text-align: center;
  }

  .project-info>p {
    font-size: 19px;
    line-height: 21px;
  }

  .project-skills>span {
    font-size: 14px;
    padding: 2px 5px !important;
    border-radius: 4px !important;
  }

  .fade-effect {
    width: 10%;
    height: 100%;
  }

  .fade-start {
    top: unset;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(to right, #181818, transparent);
  }

  .fade-end {
    bottom: 0;
    right: 0;
    background-image: linear-gradient(to left, #181818, transparent);
  }

  footer {
    left: 3vw;
  }
}

@keyframes point {
  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(10px, -10px);
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes slide-in {
  0% {
    margin-left: 600px;
  }

  100% {
    margin-left: 0;
  }
}